.authlayout {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  .image {
    margin: 2rem 0;
    img {
      width: 100px;
    }
  }

  .auth-box {
    width: 400px;
    padding: 20px;
    background-color: #ffffffe7;
    border-radius: 10px;

    h1 {
      text-align: center;
      font-size: 2.3rem;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
      color: #007bff;
    }
    .login,
    .register {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      align-items: center;
      .label-input {
        display: flex;
        flex-direction: column;
        width: 80%;
        .form-label {
          text-align: left;
          margin-bottom: 0.5rem;
          font-size: 1rem;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
        }
        .form-control {
          padding: 0.5rem;
          border-radius: 5px;
          border: 1px solid #918ffc;
          margin-bottom: 0.5rem;
        }
      }

      .btn {
        margin: 1rem 0;
        width: 80%;
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
      }
    }
    .text-auth {
      margin-top: 1rem;
      text-align: center;
      font-size: 0.9rem;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      .text-auth-link {
        color: #007bff;
        text-decoration: none;
      }
    }
  }
}
