.card {
  width: 220px;
  margin: 1rem;
  .card-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    img {
      width: 190px;
      height: 190px;
    }
  }
  .card-body {
    .card-title {
      font-family: "Permanent Marker", cursive;
      font-weight: 300;
      font-style: normal;
      font-size: 1.2rem;
    }
    .card-text {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    .btn-prod {
      display: flex;
      width: 100%;

      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .card {
    width: 140px;
    margin: 0.2rem;
    .card-image {
      img {
        width: 120px;
        height: 120px;
      }
    }
    .card-body {
      .card-title {
        font-size: 0.8rem;
      }
      .card-text {
        font-size: 0.7rem;
      }
      .btn-prod {
        justify-content: center;
        a {
          font-size: 0.8rem;
        }
      }
    }
  }
}
