.navigator {
  display: flex;
  width: 100%;
  nav {
    width: 90%;
    .container-fluid {
      img {
        width: 80px;
        background-color: #f5f5f5;
        border-radius: 50%;
        padding: 0.5rem;
      }
      .navbar-collapse {
        .navbar-nav {
          margin-left: 1.5rem;
          .nav-link {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  .boxcart {
    width: 10%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;

    .link-cart {
      i {
        font-size: 2rem;
        color: #f5f5f5;
      }
    }
    .link-profile {
      display: flex;

      justify-content: center;
      margin-left: 10px;

      img {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .box-price {
      p {
        border-radius: 50%;
        background-color: #f5f5f5;
        color: #007bff;
        font-size: 0.9rem;
        padding: 0 0.3rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .navigator {
    nav {
      .container-fluid {
        img {
          width: 55px;
          padding: 0.2rem;
        }
        .navbar-collapse {
          .navbar-nav {
            margin-left: 1px;
            .nav-link {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .boxcart {
      width: 30%;
      .link-profile {
        img {
          width: 2.9rem;
          height: 2.9rem;
          background-color: rgb(255, 255, 255);
        }
      }
    }
  }
}
