.container-profile {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .profile-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile-image {
      width: 20rem;
      height: 20rem;
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .profile-data {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      table {
        width: 80%;
        border-collapse: collapse;
        tr {
          th {
            text-align: left;
          }
        }
      }
    }
  }
  .setting {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    ul {
      width: 100%;
      list-style: none;
      li {
        font-size: 1.1rem;
        cursor: pointer;
        color: black;
        form {
          button {
            border: none;
            background-color: transparent;
          }
        }
        i {
          margin-right: 1rem;
        }
      }
    }
  }
}
