//
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gamja+Flower&family=Inter:wght@100..900&family=Mochiy+Pop+One&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Sedgwick+Ave&family=Special+Elite&display=swap");
@import "home.scss";
@import "category.scss";
@import "card.scss";
@import "navbar.scss";
@import "auth.scss";
@import "404.scss";
@import "carousel.scss";
@import "product.scss";
@import "modal.scss";
@import "detail.scss";
@import "cart.scss";
@import "search.scss";
@import "profile.scss";
@import "photo.scss";
@import "editProfile.scss";
@import "changePw.scss";
@import "footbar.scss";
@import "load.scss";
//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
